

// Variables
$color-grey: #000000;
$color-grey-light: #f5a061;
$color-primary: #ab3f23;
$radius: 25px;

// Function
@function remy($value, $base: 16px) {
  @return ($value / $base) * 1rem;
}

// Mixins
@mixin transition($prop: all, $duration: .25s, $timing: cubic-bezier(.4,0,1,1)) {
  transition: $prop $duration $timing;
}



.contact {
  font: 100% 'Roboto', arial, sans-serif;
  color: #f5a061;
  text-decoration: none;
  width: 100vw;
  height: 100vh;
}

.react-form {
  opacity: 0.9;
  padding: remy(32px);
  margin-right: auto;
  margin-left: auto;
  max-width: remy(650px);
  background-color: #663006;
  border-radius: $radius;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(168, 255, 165, 0.07);
  position: relative;
  top: 7vh;
}

.react-form h1 {
  font-size: 1.40rem;
  color: #f5a061;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.1rem;
  text-align: center;
  font-size: 1.618rem;
}

.form-group {
  padding: 0;
  border: 0;

  & + & {
    margin-top: 1rem;
  }
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: .75rem;
  text-transform: uppercase;
  touch-action: manipulation;
}

.form-input,
textarea {
  display: block;
  padding: .5rem .75rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: black;
  background: #f5a061 none;
  background-clip: padding-box;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $color-grey;
  border-left: 0;
  border-radius: $radius;
  @include transition;

  &:focus {
    outline: 0;
    border-bottom-color: $color-primary;
  }
}

textarea {
  resize: vertical;
}

.btn {
  display: inline-block;
  padding: .75rem 1rem;
  margin-top: 1.618rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  background-color: $color-primary;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  cursor: pointer;
  user-select: none;
  @include transition;

  &:focus,
  &:hover {
    background-color: lighten($color-primary, 13%);
    box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
  }

  &:focus {
    outline: 0;
  }
}
