@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


/* BODY */
.tobottom {
  position: absolute;
  z-index: 2;
}

.onepage {
  background: url("./images/12.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.section1 {
  height: 100vh;
  width: 99vw;
  position: relative;
  font-family: 'Philosopher', cursive;
}

.section1:active {
  filter: blur(1.5px);
}

.section2 {
  height: 100vh;
  width: 100vw;
}

.elo2 {
  background-image: url("./images/16.jpeg");
  background-repeat: no-repeat;
  background-position: 57% 50%;
  background-size: cover;
}

.elo {
  background-color: #4b4b4b;
  opacity: 1;
}

elo3 {
  background-image: url("./images/25.jpg");
  background-repeat: no-repeat;

  background-size: cover;
}

.elo4 {
  background-image: url("./images/26.jpg");
  background-repeat: no-repeat;

  background-size: cover;
}

.section3 {
  height: 100vh;
  width: 100vw;
}

.section4 {
  height: 100vh;
  width: 100vw;
}


/* MENU */


nav {
  float: right;
  filter: none;
  padding: 40vh;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 35px;
  line-height: 40px;
  text-align: center;
}

ol a {
  display: block;
  text-decoration: none;
  color: black;
}

ol>li {
  float: left;
  width: 133px;
  height: 28px;
}


ol>li:hover>a {
  color: rgba(121, 55, 6, 0.82);
}
