.section1 {
  height: 100vh;
  width: 100vw;
  background: url("./images/16.jpeg") no-repeat;
  background-size: cover;
  filter: blur(1.5px);

}

.section2 {
  height: 100vh;
  width: 100vw;
  background: url("./images/1.jpg") no-repeat;
  background-size: cover;

}

.section3 {
  height: 100vh;
  width: 100vw;
  background: url("./images/4.jpg") no-repeat;
  background-size: cover;

}
