
$total-lines: 3;



$left-offset: 29px;
$clip-height: 80px;
$line-height: $clip-height - 20px;



.section4 {
  color: #7b301e;
  display: flex;
}

.Words {
  margin: 0 auto;
  padding: 140px 30px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 85px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  // Sort out nasty text fuzz


}


/*
** Apply common styles to each line of text
*/
.Words-line {
  height: $clip-height;
  overflow: hidden;
  position: relative;

  // Change the perspective of each alternating line
  &:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(.66667);
  }
  &:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
  }

  // Loop over the total lines and apply a left offset
  @for $i from 1 through $total-lines+1 {
    &:nth-child(#{$i}) {
      left: $left-offset * $i;
    }
  }
}

p {
  height: $clip-height;
  line-height: $line-height;
  padding: 0 10px;
  transition: all .4s ease-in-out;
  vertical-align: top;
  white-space: nowrap;
}
