@import url("https://fonts.googleapis.com/css?family=Philosopher:400,400i");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: black; }

.main {
  background-color: #00004a;
  color: whitesmoke;
  font-size: 12px;
  font-family: Arial, sans-serif; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.container {
  width: 80vw;
  margin: 0 auto; }

.grid-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  display: grid; }
  .grid-container .row::before, .grid-container .row::after {
    content: "";
    display: table;
    clear: both; }
  .grid-container [class*='col-'] {
    float: none;
    width: 100%;
    min-height: 1px;
    padding: 12px; }
    @media (min-width: 550px) {
      .grid-container [class*='col-'] {
        float: left; } }
  @media (min-width: 550px) {
    .grid-container .col-1 {
      width: 8.3333333333%; } }
  @media (min-width: 550px) {
    .grid-container .col-2 {
      width: 16.6666666667%; } }
  @media (min-width: 550px) {
    .grid-container .col-3 {
      width: 25%; } }
  @media (min-width: 550px) {
    .grid-container .col-4 {
      width: 33.3333333333%; } }
  @media (min-width: 550px) {
    .grid-container .col-5 {
      width: 41.6666666667%; } }
  @media (min-width: 550px) {
    .grid-container .col-6 {
      width: 50%; } }
  @media (min-width: 550px) {
    .grid-container .col-7 {
      width: 58.3333333333%; } }
  @media (min-width: 550px) {
    .grid-container .col-8 {
      width: 66.6666666667%; } }
  @media (min-width: 550px) {
    .grid-container .col-9 {
      width: 75%; } }
  @media (min-width: 550px) {
    .grid-container .col-10 {
      width: 83.3333333333%; } }
  @media (min-width: 550px) {
    .grid-container .col-11 {
      width: 91.6666666667%; } }
  @media (min-width: 550px) {
    .grid-container .col-12 {
      width: 100%; } }

/* BODY */
.tobottom {
  position: absolute;
  z-index: 3;
  top: 70vh;
  left: 43vw;
  font-size: 65px;
  color: white;
  padding: 100px;
  display: flex; }

.onepage {
  background: url("./images/30.png") no-repeat;
  background-size: cover;
  background-position: center; }

.section1 {
  height: 100vh;
  width: 99vw;
  position: relative;
  font-family: 'Philosopher', cursive; }

.section1:active {
  filter: blur(1.5px); }

.section2 {
  height: 100vh;
  width: 100vw; }

.elo2 {
  background-image: url("./images/chair5.png");
  background-repeat: no-repeat;
  background-position: 57% 50%;
  background-size: cover; }

.elo3 {
  background-image: url("./images/ba.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.elo4 {
  background-image: url("./images/ab.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.section3 {
  height: 100vh;
  width: 100vw; }

.section4 {
  height: 100vh;
  width: 100vw; }

/* MENU */
.menu {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center; }

nav {
  float: right;
  filter: none;
  align-items: center; }

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  align-items: center; }

ol a {
  display: block;
  text-decoration: none;
  color: white; }

ol > li {
  float: left;
  width: 133px;
  height: 28px; }

ol > li:hover > a {
  color: rgba(118, 54, 6, 0.82); }

.gallery {
  color: navy;
  position: absolute;
  background: rgba(14, 30, 132, 0.93);
  background-size: contain;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex; }

.galleryPictures {
  position: relative;
  z-index: 0; }

.picture {
  width: 100px;
  height: 100px; }

h1 {
  font-size: 50px;
  text-align: center;
  padding: 50px;
  position: relative; }

.basket {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 230px; }

.basketThings {
  width: 600px;
  height: 520px;
  background-color: black;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

#background-video {
  width: 99vw;
  height: 100vh;
  background-color: black; }

.fancy-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ff710a;
  color: #ff710a;
  font-family: 'Dancing Script',serif;
  font-style: italic;
  font-size: 30px;
  text-decoration: none;
  margin: 20px auto;
  transition: color 0.4s;
  position: absolute;
  z-index: 4;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%); }

.fancy-btn:after {
  content: " ";
  border: 2px solid rgba(0, 0, 0, 0);
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.4s; }

.fancy-btn:hover {
  color: #eee; }

.fancy-btn:hover:after {
  border: 2px solid #fda;
  width: calc(100% - 10px);
  height: calc(100% + 10px); }

#btn-twtr {
  clear: both;
  color: #fff;
  border: 2px solid;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  width: 13em;
  padding: 5px 10px;
  font-weight: 600;
  margin: 90px auto;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.6; }

#btn-twtr:hover {
  color: #fff;
  opacity: 1; }

.contact {
  font: 100% 'Roboto', arial, sans-serif;
  color: #f5a061;
  text-decoration: none;
  width: 100vw;
  height: 100vh; }

form {
  opacity: 0.9;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 40.625rem;
  background-color: #663006;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(168, 255, 165, 0.07);
  position: relative;
  top: 7vh; }

.react-form h1 {
  font-size: 1.40rem;
  color: #f5a061; }

h1 {
  margin-top: 0;
  margin-bottom: 0.1rem;
  text-align: center;
  font-size: 1.618rem; }

.form-group {
  padding: 0;
  border: 0; }
  .form-group + .form-group {
    margin-top: 1rem; }

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: .75rem;
  text-transform: uppercase;
  touch-action: manipulation; }

input,
textarea {
  display: block;
  padding: .5rem .75rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: black;
  background: #f5a061 none;
  background-clip: padding-box;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #000000;
  border-left: 0;
  border-radius: 25px;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  input:focus,
  textarea:focus {
    outline: 0;
    border-bottom-color: #ab3f23; }

textarea {
  resize: vertical; }

.btn {
  display: inline-block;
  padding: .75rem 1rem;
  margin-top: 1.618rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #ab3f23;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  user-select: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  .btn:focus, .btn:hover {
    background-color: #d75a3a;
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07); }
  .btn:focus {
    outline: 0; }

.contact {
  font: 100% 'Roboto', arial, sans-serif;
  color: #f5a061;
  text-decoration: none;
  width: 100vw;
  height: 100vh; }

form {
  opacity: 0.9;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 40.625rem;
  background-color: #663006;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(168, 255, 165, 0.07);
  position: relative;
  top: 7vh; }

.react-form h1 {
  font-size: 1.40rem;
  color: #f5a061; }

h1 {
  margin-top: 0;
  margin-bottom: 0.1rem;
  text-align: center;
  font-size: 1.618rem; }

.form-group {
  padding: 0;
  border: 0; }
  .form-group + .form-group {
    margin-top: 1rem; }

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: .75rem;
  text-transform: uppercase;
  touch-action: manipulation; }

input,
textarea {
  display: block;
  padding: .5rem .75rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: black;
  background: #f5a061 none;
  background-clip: padding-box;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #000000;
  border-left: 0;
  border-radius: 25px;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  input:focus,
  textarea:focus {
    outline: 0;
    border-bottom-color: #ab3f23; }

textarea {
  resize: vertical; }

.btn {
  display: inline-block;
  padding: .75rem 1rem;
  margin-top: 1.618rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #ab3f23;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  user-select: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  .btn:focus, .btn:hover {
    background-color: #d75a3a;
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07); }
  .btn:focus {
    outline: 0; }

.section4 {
  color: #7b301e;
  display: flex; }

.Words {
  margin: 0 auto;
  padding: 140px 30px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 85px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase; }

/*
** Apply common styles to each line of text
*/
.Words-line {
  height: 80px;
  overflow: hidden;
  position: relative; }
  .Words-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667); }
  .Words-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333); }
  .Words-line:nth-child(1) {
    left: 29px; }
  .Words-line:nth-child(2) {
    left: 58px; }
  .Words-line:nth-child(3) {
    left: 87px; }
  .Words-line:nth-child(4) {
    left: 116px; }

p {
  height: 80px;
  line-height: 60px;
  padding: 0 10px;
  transition: all .4s ease-in-out;
  vertical-align: top;
  white-space: nowrap; }

/*# sourceMappingURL=main.css.map */
