* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }
aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  background: whitesmoke;
  color: black; }

.slider-image {
  float: left; }

.slider-text {
  justify-content: center;
  height: 45vh;
  width: 35vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center; }

.slider-text h1 {
  padding-top: 10vh;
  width: 100%;
  height: 5vh; }

.slider-text a {
  width: 100%; }

button {
  width: 10vw;
  height: 5vh; }

img {
  animation: roll-in-left 0.8s ease-out both; }

body {
  color: black; }

.main {
  background-color: #00004a;
  color: whitesmoke;
  font-size: 12px;
  font-family: Arial, sans-serif; }

header {
  background-color: black;
  height: 5vh;
  border: 1px solid green;
  display: inline-block; }

.slider {
  height: 45vh;
  border: 1px solid green; }

.offer {
  height: 20vh;
  border: 1px solid green; }

.pricelist {
  height: 25vh;
  border: 1px solid green; }

.footer {
  height: 5vh;
  border: 1px solid green;
  background-color: darkblue; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.container {
  width: 80vw;
  margin: 0 auto; }

.grid-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  display: grid; }
  .grid-container .row::before, .grid-container .row::after {
    content: "";
    display: table;
    clear: both; }
  .grid-container [class*='col-'] {
    float: none;
    width: 100%;
    min-height: 1px;
    padding: 12px; }
    @media (min-width: 550px) {
      .grid-container [class*='col-'] {
        float: left; } }
  @media (min-width: 550px) {
    .grid-container .col-1 {
      width: 8.3333333333%; } }
  @media (min-width: 550px) {
    .grid-container .col-2 {
      width: 16.6666666667%; } }
  @media (min-width: 550px) {
    .grid-container .col-3 {
      width: 25%; } }
  @media (min-width: 550px) {
    .grid-container .col-4 {
      width: 33.3333333333%; } }
  @media (min-width: 550px) {
    .grid-container .col-5 {
      width: 41.6666666667%; } }
  @media (min-width: 550px) {
    .grid-container .col-6 {
      width: 50%; } }
  @media (min-width: 550px) {
    .grid-container .col-7 {
      width: 58.3333333333%; } }
  @media (min-width: 550px) {
    .grid-container .col-8 {
      width: 66.6666666667%; } }
  @media (min-width: 550px) {
    .grid-container .col-9 {
      width: 75%; } }
  @media (min-width: 550px) {
    .grid-container .col-10 {
      width: 83.3333333333%; } }
  @media (min-width: 550px) {
    .grid-container .col-11 {
      width: 91.6666666667%; } }
  @media (min-width: 550px) {
    .grid-container .col-12 {
      width: 100%; } }

nav {
  float: right; }

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: black;
  font-size: 12px;
  height: 35px;
  line-height: 40px;
  text-align: center; }

ol a {
  display: block;
  text-decoration: none;
  color: whitesmoke; }

ol > li {
  float: left;
  width: 133px;
  background-color: black;
  height: 28px;
  margin-left: -3px; }

ol > li:first-child {
  margin: 0 auto; }

ol > li:hover {
  background-color: black; }

ol > li:hover > a {
  color: #5de3d2; }

ol > li:hover > ul {
  display: block; }

ol > li > ul {
  display: none;
  list-style-type: none;
  padding: 5px 0 0 0;
  margin: 0 auto; }

ol > li > ul > li {
  position: relative;
  background-color: black; }

ol > li > ul > li > a {
  border-top: 1px solid black; }

ol > li > ul > li:hover {
  background-color: #5de3d2; }

ol > li > ul > li:hover > a {
  color: black; }

ol > li > ul > li:first-child a {
  margin-top: 17px; }

ol > li > ul > li:first-child a:after {
  content: '';
  position: absolute;
  left: 52px;
  top: -12px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 12px solid black; }

.gallery {
  background: whitesmoke;
  color: black; }

.picture {
  width: 100px;
  height: 100px; }

.welcomebutton {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=main.css.map */
